<div class="container my-5">
  <div class="bubble">
    <h1 class="mt-2 mb-4">List of Subjects</h1>
    <div class="row justify-content-between mb-3">
      <div class="col-auto">
        <form action="/subjects" method="POST" novalidate>
          <div class="row g-3 align-items-center mb-3">
            <div class="col-auto">
              <label for="search" class="col-form-label">Search</label>
            </div>
            <div class="col-auto">
              <input type="text" id="search" class="form-control" name="search" onchange="this.form.submit()">
            </div>
          </div>
        </form>
      </div>
      <div class="col-auto">
        <a href="/subjects/add_subject" class="btn btn-primary align-self-center" type="button">+ Add Subject</a>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead class="text-center">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Subject Title</th>
            <th scope="col">Subject No</th>
            <th scope="col">Transcript Load</th>
            <th scope="col">Paying Load</th>
            <th scope="col">Teaching Load</th>   
            <th scope="col">Actions</th>   
          </tr>
        </thead>
        <tbody>
          {{#each rows}}
          <tr>
            <th scope="row">{{ this.subjectID }}</th>
            <td>{{ this.subjectTitle }}</td>
            <td>{{ this.subjectNo }}</td>
            <td>{{ this.transcriptLoad }}</td>
            <td>{{ this.payingLoad }}</td>
            <td>{{ this.teachingLoad }}</td>
            <td class="text-center">
              <a href="/subjects/update_subject/{{ this.subjectID }}" type="button" class="btn btn-light btn-small mb-2 mb-lg-0"><i class="bi bi-pencil me-2"></i>Update</a>
              <a href="/subjects/{{ this.subjectID }}" type="button" class="btn btn-light btn-small"><i class="bi bi-person-x me-2"></i>Delete</a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>